@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    background-color: rgb(65, 65, 65);
    padding: 0;
    
}

.container {
    padding: 70px 0; 
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(65, 65, 65);
    font-size: 30px;
}

*{
    font-family: 'Limelight', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #formulario {
   
   
} */

#form {
    color: rgb(255, 255, 255);
    padding: 30px 60px;
    width: 30%;
    /* width: 100%; */
    background-color:rgb(65, 65, 65);
}


#the-boys {
    width: 100%;
}

#b-b {
    display: flex;
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    padding: 30px 60px;
    width: 30%;
    
}

#breaking-bad {
    width: 100% ;
}

/* Rodapé */
#rodape {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

#rodape p {
    margin: 5px;
}

/* pseudo classe */
#rodape p:hover {
    color: cyan;
}

/* pseudo elemento */
#rodape p::first-letter {
    font-size: 18px;
}